aiofiles
annotated-types
beautifulsoup4
blinker
blis
bs4
build
catalogue
certifi
chardet
charset-normalizer
click
cloudpathlib
colorama
confection
contourpy
cycler
cymem
DAWG-Python
DAWG2-Python
docopt
encode
et_xmlfile
filelock
Flask
fonttools
fsspec
future
h11
h2
hpack
huggingface-hub
Hypercorn
hyperframe
idna
itsdangerous
Jinja2
joblib
jsonpickle
kiwisolver
langcodes
language_data
lxml
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
mdurl
mpmath
murmurhash
networkx
nltk
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
openpyxl
packaging
pandas
pillow
pip-tools
piptree
preshed
priority
protobuf
pydantic
pydantic_core
Pygments
pymorphy2
pymorphy2-dicts-ru
pymorphy3
pymorphy3-dicts-ru
pyparsing
pyproject_hooks
python-dateutil
pytz
PyYAML
Quart
quart-rate-limiter
regex
requests
rfc3986
rich
ru_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/ru_core_news_sm-3.8.0/ru_core_news_sm-3.8.0-py3-none-any.whl#sha256=69978d47b43e2c4f329bebdb155e8e9d3861bba1a58ba25551419dae7d7e07fc
safetensors
scikit-learn
scipy
seaborn
selectors2
sentencepiece
setuptools
shellingham
six
smart-open
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
sympy
thinc
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
triton
typer
typing_extensions
tzdata
urllib3
wasabi
weasel
Werkzeug
wheel
wrapt
wsproto
XlsxWriter
